.NotesCards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    background-color: (--details-background);
    border-radius: 4px;
    flex-wrap:  wrap;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    padding: 16px;
}

.NotesCards_header {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NotesCards_title {
    font-size: 1.2rem;
    margin-right: 12px;
}

.NotesCards_text {
    margin-top: 8px;
    font-size: 1rem;
}